@tailwind base;
@tailwind components;
@tailwind utilities;


nav a.active{
    font-weight: bold;
    position: relative;
   color: #ffffff;
}
nav a.active::after{
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50px; 
    background-color: #1282a2;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2px;
}
input[number="number"]::-webkit-outer-spin-button,
input[number="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
  
}
.noneScroll{
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.noneScroll::-webkit-scrollbar {
    display: none;
    visibility: hidden;
    
  }
  