@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Almarai:wght@300;400;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Almarai", sans-serif;
    font-size: 16px;
}

 [data-testid="carousel-indicator"]{
    width: 20px;
    height: 5px;
    margin-bottom: -15px;
    border-radius: 3px;
    transition: background-color 0.5s ease;
  }

  
  [data-active="false"] {
    opacity: 0.3; /* Decreased opacity to make it more 'inactive' */
    pointer-events: none;
    cursor: not-allowed;
    transform: scale(0.7) rotate(-3deg); /* Slight rotation for a more dynamic effect */
    transition: opacity 0.5s ease, transform 0.6s ease; /* Slower, smoother transition */
}

[data-active="true"] {
    opacity: 1;
    pointer-events: all;
    cursor: pointer;
    transform: scale(1) rotate(0deg); /* Reset to original state */
    transition: opacity 0.5s ease, transform 0.6s ease;
}

.carousel-item img {
    max-width: 100%;
    height: auto;
}

.carousel-item.active img {
    transform: scale(1.1); /* Enlarge the active image */
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.carousel-caption h3 {
    font-size: 2rem;
}


input[number="number"]::-webkit-outer-spin-button,
input[number="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
  
}
.noneScroll{
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.noneScroll::-webkit-scrollbar {
    display: none;
    visibility: hidden;
    
  }


S
.bg-img-createPage{
    background-image: url("../src/assets/images/pattern.svg");
    background-size: auto;
    background-position: center top;
    height: 100%;
    width: 100%;
    
}

[data-testid="carousel"] div{
     border-radius: 0% ;
}


.bg-imagess{
    background-image: url("../src/assets/images/pexelanthonyshkraba.png");
    background-size: cover;
    background-position: center 70%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.aboutImg{
    background-image: url("../src/assets/images/houses.jpg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
[aria-label="Sidebar"]{
    border-radius: 0;
}
[aria-label="Sidebar"] div{
    background-color: white ;
    border-radius: 0;
 
    
}

[aria-label="Sidebar"] div div{
    background-color: transparent ;
}

/* -------------- */
