@tailwind base;
@tailwind components;
@tailwind utilities;

nav a{
    transition: width 0.2s;
}
nav a.active::after{
    content: "";
    width: 100%; 
    height: 3px;
    border-radius: 50px; 
    background-color: #ff9505;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    transition: width 0.2s;
}
.hoverLink::before  {
    content: "";
    width: 0; 
    height: 3px;
    border-radius: 50px; 
    background-color: #ff9505;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    transition: width 0.2s;
    
}
.hoverLink:hover::before  {
    content: "";
    width: 100%; 
    height: 3px;
    border-radius: 50px; 
    background-color: #ff9505;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    transition: width 0.2s;
}

nav a::after {
    content: "";
    width: 0px;
    height: 3px;
    border-radius: 50px; 
    background-color: #ff9505;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    transition: width 0.2s;
       
}

input[number="number"]::-webkit-outer-spin-button,
input[number="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
  
}
.noneScroll{
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.noneScroll::-webkit-scrollbar {
    display: none;
    visibility: hidden;
    
  }


S
.bg-img-createPage{
    background-image: url("../src/assets/images/pattern.svg");
    background-size: auto;
    background-position: center top;
    height: 100%;
    width: 100%;
    
}

[data-testid="carousel"] div{
     border-radius: 0% ;
}


.bg-imagess{
    background-image: url("../src/assets/images/pexelanthonyshkraba.png");
    background-size: cover;
    background-position: center 70%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.aboutImg{
    background-image: url("../src/assets/images/houses.jpg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}