PORT=5050
NODE_ENV=production
MONGODB_URI=mongodb+srv://<user>:<password>@cluster0.xxxxx.mongodb.net/egyestate?retryWrites=true&w=majority
JWT_SECRET=change_this_to_a_long_random_string_min_32_chars
JWT_EXPIRE=7d
CLIENT_URL=https://your-app.vercel.app,http://localhost:5177
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
