$primary: #8A6924;
$primary-light: #e3d4bc;
$primary-dark: #63461c;

$secondary: #12283C;
$secondary-light: #e1ecf4;
$secondary-dark: #1a2a40;

$accent: #DFBA6B;
$accent-light: #CDB785;
$accent-dark: #b59247;

$muted: #C9CCC8;
$muted-dark: #4C545E;

$background: #f4f5f7;
$foreground: #12283C;

$heading-font: 'Roboto', 'Cairo', 'sans-serif';
$body-font: 'Roboto', 'Cairo', 'sans-serif';
